<div class="table-responsive">
  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

    <!-- ID Column -->
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef> ID </th>
      <td mat-cell *matCellDef="let customer"> {{customer.id}} </td>
    </ng-container>

    <!-- DNI Column -->
    <ng-container matColumnDef="dni">
      <th mat-header-cell *matHeaderCellDef> DNI </th>
      <td mat-cell *matCellDef="let customer"> {{customer.dni}} </td>
    </ng-container>

    <!-- CellPhone Column -->
    <ng-container matColumnDef="cellPhone">
      <th mat-header-cell *matHeaderCellDef> CELULAR </th>
      <td mat-cell *matCellDef="let customer"> {{customer.cellPhone}} </td>
    </ng-container>

    <!-- First Name Column -->
    <ng-container matColumnDef="firstName">
      <th mat-header-cell *matHeaderCellDef> NOMBRES </th>
      <td mat-cell *matCellDef="let customer"> {{customer.firstName}} </td>
    </ng-container>

    <!-- Last Name Column -->
    <ng-container matColumnDef="lastName">
      <th mat-header-cell *matHeaderCellDef> APELLIDOS </th>
      <td mat-cell *matCellDef="let customer"> {{customer.lastName}} </td>
    </ng-container>

    <!-- State Column -->
    <ng-container matColumnDef="state">
      <th mat-header-cell *matHeaderCellDef> ESTADO </th>
      <td mat-cell *matCellDef="let customer"> {{customer.state}} </td>
    </ng-container>

    <!-- Actions Column -->
    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef> ACCIONES </th>
      <td mat-cell *matCellDef="let customer">
        <button mat-icon-button color="primary" (click)="goCustomerForm()">
          <mat-icon>edit</mat-icon>
        </button>
        <button mat-icon-button color="warn">
          <mat-icon>delete</mat-icon>
        </button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
</div>