.header-toolbar {
  position: fixed;      /* O usa sticky si prefieres */
  top: 0;
  left: 0;
  width: 100vw;
  z-index: 2000;        /* Asegúrate que sea mayor que el sidebar */
}

.menu-btn {
  margin-right: 16px;
  display: none;
}

/* Puedes poner esto en header.component.css */
.header-logo {
  height: 50px;
  margin-right: 12px;
}

.logo {
  font-weight: bold;
  font-size: 1.2rem;
}

.spacer {
  flex: 1 1 auto;
}

@media (max-width: 768px) {
  .menu-btn {
    display: inline-flex;
  }
}