<nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark">
    <div class="navbar-expand-lg" id="navbarNav" style="height: 50px">
        <ul class="navbar-nav">
            <li class="nav-item">
            </li>
            <li class="nav-item">
                <h2 href="#" class="navbar-brand" style="font-weight: bold; font-size: 30px;">DEMO</h2>
            </li>

            <li class="nav-item">........</li>
            <li class="nav-item">
                <a class="nav-link" routerLinkActive="active" aria-current="page" routerLink="/cliente-form">
                    <em class="fa-solid fa-square-caret-up"></em> REGISTRAR
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLinkActive="active" aria-current="page" routerLink="/cliente-list">
                    <em class="fa-solid fa-square-caret-up"></em> LISTAR
                </a>
            </li>
        </ul>
    </div>
</nav>

<br/>
<br/>
<br/>
<br/>

<router-outlet></router-outlet>